{% extends 'base.html' %}

{% block title %}CloudSoft - IaaS{% endblock %}

{% block content %}
<divclass="text-center">
    <h1>Infraestructura como Servicio (IaaS)</h1>
    <pstyle="text-align: justify;">
        IaaS, o <strong>Infraestructura como Servicio</strong> (<em>Infrastructure as a Service</em>), es un
        <strong>modelo de servicio</strong> en la <strong>computación en la nube</strong> que proporciona a los
        consumidores <em>recursos de computación fundamentales</em>, como <em>servidores</em>, <em>almacenamiento</em>,
        <em>redes</em> y otros recursos de infraestructura. A través de IaaS, los usuarios pueden <em>aprovisionar</em>
        y <em>gestionar</em> estos recursos según sus necesidades, permitiéndoles ejecutar <em>sistemas operativos</em>
        y <em>aplicaciones</em> sin tener que invertir en hardware físico.
        </p>

        <img src="https://iili.io/dGrTHHx.jpg" alt="IaaS"
        style="display: block; margin-left: auto; margin-block: 50px;margin-right: auto; max-width: 100%;">

        <p style="text-align: justify;"><strong>Características principales de IaaS</strong>:
        </p>
        <ul style="text-align: justify;">
            <li><strong>Recursos bajo demanda</strong>: IaaS permite a los consumidores <em>aprovisionar recursos de
                    computación de manera dinámica</em>, lo que significa que pueden <em>escalar hacia arriba o hacia
                    abajo</em> según la demanda.</li>
            <li><strong>Control sobre la infraestructura</strong>: A diferencia de SaaS y PaaS, en IaaS, los
                consumidores tienen <em>control sobre los sistemas operativos</em>, el <em>almacenamiento</em> y las
                <em>aplicaciones</em> que ejecutan en la infraestructura proporcionada.</li>
            <li><strong>Modelo de pago por uso</strong>: Los usuarios suelen pagar solo por los <em>recursos que
                    utilizan</em>, lo que puede resultar en un costo más <em>eficiente</em> en comparación con la compra
                y mantenimiento de hardware físico.</li>
            <li><strong>Flexibilidad y escalabilidad</strong>: IaaS permite a las organizaciones <em>escalar su
                    infraestructura de manera rápida y flexible</em>, adaptándose a cambios en la carga de trabajo o en
                las necesidades del negocio.</li>
        </ul>

        </div>
        {% endblock %}