{% extends 'base.html' %}

{% block title %}CloudSoft - SaaS{% endblock %}

{% block content %}
<divclass="text-center">
    <h1>Software como Servicio (SaaS)</h1>
    {% load static %}

    <pstyle="text-align: justify;">
        SaaS, o <strong>Software como Servicio</strong> (<em>Software as a Service</em>), es un <strong>modelo de
            servicio</strong> en la <strong>computación en la nube</strong> que permite a los consumidores acceder y
        utilizar <em>aplicaciones</em> a través de <em>internet</em>. En este modelo, las aplicaciones son alojadas y
        mantenidas por un proveedor en su <em>infraestructura de nube</em>, lo que significa que los usuarios no
        necesitan instalar ni gestionar el software en sus propios dispositivos.    
        <img src="https://iili.io/dGrBLtn.jpg" alt="SaaS"
        style="display: block; margin-left: auto; margin-block: 50px;margin-right: auto; max-width: 100%;">
        <p style="text-align: justify;"><strong>Características principales de SaaS</strong>:
        </p>
        <ul style="text-align: justify;">
            <li><strong>Acceso a través de Internet</strong>: Los usuarios pueden acceder a las aplicaciones desde
                cualquier dispositivo con conexión a internet, generalmente a través de un <em>navegador web</em>.</li>
            <li><strong>Mantenimiento y soporte</strong>: El proveedor de SaaS es responsable del
                <em>mantenimiento</em>, <em>actualización</em> y <em>soporte</em> del software, lo que libera a los
                usuarios de estas tareas.</li>
            <li><strong>Modelo de pago por uso</strong>: Muchas aplicaciones SaaS se facturan según el <em>uso</em>, lo
                que permite a las organizaciones escalar sus costos de acuerdo a sus necesidades.</li>
            <li><strong>Escalabilidad</strong>: Los servicios SaaS pueden <em>escalar fácilmente</em> para acomodar un
                número creciente de usuarios o aumentar la capacidad según sea necesario.</li>
        </ul>
        </div>
        {% endblock %}